@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: rgb(0, 0, 0);
  --foreground-rgb: rgb(255, 255, 255);
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--background-rgb);
  color: var(--foreground-rgb);
}
